name: Documentation

on:
  push:
    branches:
      - develop
      - main
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - ".github/workflows/docs.yml"
      - ".github/actions/*"

permissions:
  contents: write


jobs:
  check-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env

      - name: Check if documentation can be built
        run: uv run mkdocs build -s
        env:
          NO_MKDOCS_2_WARNING: 1

  deploy-docs:
    runs-on: ubuntu-latest
    needs: [check-docs]
    permissions:
      contents: write
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Deploy documentation to GitHub Pages
        run: uv run mkdocs gh-deploy --force
        env:
          NO_MKDOCS_2_WARNING: 1
